[Unit]
Description = Catberry Service
 
[Service]
ExecStart=/home/pi/catberry/start_catberry.py
ExecStop=/home/pi/catberry/stop_catberry.py
Type=simple
Restart=always
User=root
 
[Install]
WantedBy=multi-user.target
